name: mobile-price-classification

services:
  ml_service:
    image: ml-service:2
    ports:
      - "8001:8000"
    volumes:
      - ./models:/models
    networks:
      - net
     
  test_requests:
    image: request-sender:1
    deploy: 
      replicas: 1
      restart_policy:
        condition: always
        delay: 5s
    networks:
      - net
    depends_on:
      - ml_service


  prometheus:
    image: prom/prometheus
    ports: 
      - "9090:9090"
    command:
      - '--config.file=/etc/prometheus/prometheus.yaml'
    volumes:
      - "./prometheus/:/etc/prometheus/"
    hostname: prometheus
    networks:
      - net
    depends_on:
      - ml_service

  
  graphana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    environment:
        - GF_SECURITY_ADMIN_USER=admin
        - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - "./grafana/data:/var/lib/grafana"
    networks:
      - net
    depends_on:
      - prometheus
      
networks:
  net:
    driver: bridge